RewriteEngine On
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteCond %{THE_REQUEST} ^GET\ /index\.php\?page=([^\s&]+) [NC]

RewriteRule ^index\.php$ /page/%1? [R=301,L]

RewriteRule ^page/([^/]+)/?$ /index.php?page=$1 [NC,L]